@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Heebo', sans-serif;
    overflow-x: hidden; /* Prevent horizontal overflow */
    margin: 0;
    padding: 0;
}

section {
    height: 100vh; /* Adjust 20px to your specific case */
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center;
    align-items: center;
    text-align: center; /* Center the text */
    padding: 10px 50px 10px; /* Added padding for better spacing */
}

.plexus {
    height: 480px;
    width: 270px;
}

.model-viewer {
    width: 70%; /* Adjust as needed */
    height: 50%; /* Adjust height as needed */
    margin-top: 5px; /* Space between text and model */
    display: flex; /* Use flexbox for alignment */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.welcome {
    background-color: white;
}

.intro {
    background-color: white;
}

.one {
    background-color: rgb(221, 255, 205);
}

.two {
    background-color: aliceblue;
}

.three {
    background-color: antiquewhite;
}

.four {
    background-color: aliceblue;
}


.MintUs_ZoomIn {
    width: 100%; /* Adjust width to fit container */ 
    height: 80vh; 
}

.spline-embed {
    width: 200px; /* Set the width to your preference */
    height: 200px; /* Height should be the same as the width to create a perfect circle */
    border-radius: 50%; /* This creates the circular shape */
    overflow: hidden; /* This will hide the overflow content outside the circle */
    display: block; /* Ensures that width and height are applied correctly */
    margin: auto; /* Centers the viewer in its container if it's smaller than the container width */
    margin-top: 10px;
    margin-bottom: 10px; /* Reduce space below the Spline viewer */
  }

  .vision-text {
    margin-top: 10px; /* Reduce space above the text */
  }

  stripe-buy-button {
    margin-top: 30px; /* Increase space above the button card */
  }